In [76]:
import pandas as pd
import numpy as np
import dateutil


station = pd.read_csv('station.csv')
trip = pd.read_csv('trip.csv',error_bad_lines = False)
weather = pd.read_csv('weather.csv')

/home/muradalkhatib/python/vg-stats/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
b'Skipping line 50794: expected 12 fields, saw 20\n'

In [77]:
station.head(10)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN
5,CBD-04,Union St & 4th Ave,47.609221,-122.335596,7/27/2015,18,NaN,18,NaN
6,CBD-05,1st Ave & Marion St,47.604058,-122.335800,10/13/2014,20,NaN,20,NaN
7,CBD-06,2nd Ave & Spring St,47.605950,-122.335768,10/13/2014,20,11/9/2015,18,NaN
8,CBD-07,City Hall / 4th Ave & James St,47.603509,-122.330409,10/13/2014,20,NaN,20,NaN
9,CBD-13,2nd Ave & Pine St,47.610185,-122.339641,10/13/2014,18,NaN,18,NaN


# What is the average trip duration for a borrowed bicycle?

In [78]:

avg_trip= trip['tripduration'].mean()

# Whatâ€™s the most common age of a bicycle-sharer?

In [79]:

most_common_years =trip['birthyear'].value_counts().idxmax()
most_common_age = 2021-most_common_years
most_common_age_bic=int(most_common_age)

# Given all the weather data here, find the average precipitation per month, and the median precipitation.?

In [80]:

weather['Month']=pd.DatetimeIndex(weather['Date']).month

each_Month=weather.groupby('Month')['Precipitation_In']

mean=each_Month.mean()
med=each_Month.median()
print(mean ,med)

Month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64 Month
1     0.020
2     0.040
3     0.025
4     0.000
5     0.000
6     0.000
7     0.000
8     0.000
9     0.000
10    0.040
11    0.035
12    0.100
Name: Precipitation_In, dtype: float64

# Whatâ€™s the average number of bikes at a given bike station?

In [81]:

decommission_date = station[station['decommission_date'].isnull()]
ave_num_bik_station=decommission_date['current_dockcount'].mean()

# When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?

In [82]:


station_is_modified = station[['modification_date','install_dockcount','current_dockcount']].dropna()
station_is_modified_x=station_is_modified['current_dockcount'].sum() - station_is_modified['install_dockcount'].sum()

# What the Numbers of bikes in all stations?

In [83]:
all_station=station_is_modified['current_dockcount'].sum()

# What is the maximum number bikes in all stations?

In [84]:
max_num_bik=station['current_dockcount'].max()

# what is the max Humidity in days ?

In [85]:
max_hum=weather['Max_Humidity'].max()

# Tests

In [86]:
def assert_equal(actual,expected):
    assert actual == expected, f"Expected {expected} but got {actual}"
def test():
    assert_equal(avg_trip, 1178.2956753399776)
    assert_equal(most_common_age_bic, 34)
    assert_equal(mean.iloc[0],0.1435483870967742 )
    assert_equal(ave_num_bik_station, 17.74074074074074)
    assert_equal(station_is_modified_x, -64)
    assert_equal(all_station, 234)
    assert_equal(max_num_bik, 26)
    assert_equal(max_hum, 100)
    

    print("Success!!!")

test()

Success!!!