In [40]:
import pandas as pd
df = pd.read_csv('./vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

# Which company is the most common video game publisher?

In [41]:

most_common_publisher = df['Publisher'].mode()
most_common_publisher

0    Electronic Arts
dtype: object

# What’s the most common platform?

In [42]:

most_common_platform=df['Platform'].mode()
most_common_platform

0    DS
dtype: object

# What about the most common genre?

In [43]:

most_common_genre=df['Genre'].mode()
most_common_genre

0    Action
dtype: object

# What are the top 20 highest grossing games?

In [44]:

top_twenty_highest_grossing_games=df[['Name','Global_Sales']].sort_values('Global_Sales')[ -1:-21:-1]
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, what’s the median?

In [45]:

na_median_sales=df['NA_Sales'].median()
ten_median_na_seller_names= df.loc[df['NA_Sales']==med].head(10)
ten_median_na_seller_names

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
446,447,Dragon Warrior IV,NES,1990.0,Role-Playing,Enix Corporation,0.08,0.00,3.03,0.01,3.12
497,498,World Soccer Winning Eleven 7 International,PS2,2003.0,Sports,Konami Digital Entertainment,0.08,1.24,1.13,0.45,2.90
1617,1619,Farming Simulator 2015,PC,2014.0,Simulation,Focus Home Interactive,0.08,1.02,0.00,0.13,1.23
1926,1928,Pro Evolution Soccer 2008,X360,2007.0,Sports,Konami Digital Entertainment,0.08,0.90,0.04,0.05,1.07
2067,2069,Winning Eleven: Pro Evolution Soccer 2007 (All...,X360,2006.0,Sports,Konami Digital Entertainment,0.08,0.90,0.02,0.00,1.00
2373,2375,Phantasy Star Portable 2,PSP,2009.0,Role-Playing,Sega,0.08,0.11,0.62,0.06,0.88
2579,2581,The Sims 2: Castaway,PSP,2007.0,Simulation,Electronic Arts,0.08,0.46,0.00,0.25,0.80
3186,3188,SingStar Queen,PS2,2009.0,Misc,Sony Computer Entertainment,0.08,0.12,0.00,0.44,0.63
3503,3505,Top Spin 3,PS3,2008.0,Action,Take-Two Interactive,0.08,0.37,0.00,0.12,0.57
3703,3705,Sonic & All-Stars Racing Transformed,PS3,2012.0,Racing,Sega,0.08,0.33,0.01,0.11,0.54

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [46]:

std_data=df['NA_Sales'].std()
mean_data=df['NA_Sales'].mean()
selling_game=df['NA_Sales'] .head(1)
z_score =( (selling_game-mean_data)/std_data)
z_score

0    50.478988
Name: NA_Sales, dtype: float64

# stander deviation for North America

In [49]:
std_for_north_america=df['NA_Sales'].std()
std_for_north_america

0.17

# For Global_Sales, what’s the median?

In [50]:
std_for_global_sales=df['Global_Sales'].std()
std_for_global_sales

1.5550279355699124

# For Global_Sales, what’s the mean?

In [51]:
mean_data=df['Global_Sales'].mean()
mean_data

0.5374406555006628

# Tests

In [1]:
def assert_equal(actual,expected):
    assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

assert_equal()

TypeError: assert_equal() missing 2 required positional arguments: 'actual' and 'expected'